body {
  font-family: 'Calibri', 'helvetica neue', 'Helvetica', 'Arial', 'liberation sans', 'sans-serif';
  margin: 0px; padding: 9px;
}
body.night {
  background: #212121;
  color: #777;
}

a {
  text-decoration: none;
}
a:hover {
  color: white !important;
}
a:visited {
  color: inherit;
}

.container {
  width: 333px;
  margin: 0 auto;
}

.nube-crear-nota {
  background-image: url('../images/cloud-bw.svg');
  background-repeat: no-repeat;
  width: 200px;
  margin: 0 auto;
}
#input-container-add-cloud {
  text-align: center;
}
#input-container-add-cloud .input {
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}
#input-container {
  width: 200px;
  height: 70px;
  margin: 0px;
  padding-top: 70px;
}
#input-container textarea {
  resize: none;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 13px;
  margin-left: 13px;
  padding: 7px;
  width: 160px;
  font-size: 14px;
  text-align: center;
}

.fresh {
  color: #9c9c9c;
  font-style: italic;
}

.form-actions {
  text-align: center;
}
.btn {
  border: 0;
  background: #ceffce;
  box-shadow: none;
  border-radius: 15px;
  padding: 9px 30px;
}
.btn:hover {
  background: #aeffae;
  cursor: pointer;
}
.night .btn {
  color: #adadad;
  background: #333e21;
}
.night .btn:hover {
  background: #2c4e31;
}

.items {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.items .item span:hover {
/*   background-color: #CCC; */
/*   border: 1px solid white; */
}

.items .item {
  /* background-color: #3b611e; */
  border-radius: 14px;
  margin: 2px 0;
  padding: 3px 10px;
  display: inline-block;
  /* color: white; */
  border: 1px solid #efe8e8;
}

body.night .items .item {
  color: #b8c39d;
  border: 1px solid #3a3a3a;
  background: #2d2d2d;
}
.items .item.selected {
  border-color: red !important;
}




@keyframes fadeIn { from { opacity:0; } to { opacity:1; }}
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.9s;
  animation-delay: 0s;
}